{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Programmes{% endblock %}

{% block body %}
    <h1>Toutes les séries de la catégorie : {{ category.name}}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} - <a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a></h2>
            <p>{{ program.synopsis }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}