{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Tous les épisodes{% endblock %}

{% block body %}
    <h1>Liste des épisode</h1>
    {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				    {{ message }}
                </div>
            {% endfor %}
    {% endfor %}
    <a href="{{ path('app_episode_new') }}">Create new part</a>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Numéro</th>
                <th>Résumé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('app_episode_show', {'slug': episode.slug}) }}">Voir</a>
                    <a href="{{ path('app_episode_edit', {'slug': episode.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'épisode trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
