{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Épisode{% endblock %}

{% block body %}
    <h1>Épisode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Épisode numéro</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <h5>Commentaires: </h5>
    {% for comment in comments %}
       <p>{{ comment.comment }}
       {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
       - <a href="{{ path('app_comment_delete', { 'id': comment.id}) }}">Supprimer</a></p>
       {% endif %}
    {% endfor %}

    <p>
    {% if app.user %}
    <a href="{{ path('app_episode_edit', {'slug': episode.slug}) }}">Modifier l'épisode</a>
    {% endif %}
    </p>
    <p>
    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
        <a href="{{ path('app_comment_new', {'id': episode.id}) }}">Ajouter un commentaire</a>
    {% endif %}
    </p>
    <p><a href="{{ path('app_episode_index') }}">Retour à la liste des épisodes</a></p>
    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
