{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Toutes les séries{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center text-uppercase">Toutes nos séries </h1>
    <hr>
    {% for category, messages in app.flashes %}
            {% for message in messages %}
            <div class="container-sm">
                <div class="alert alert-{{ category }}">
                    <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                    {{ message }}
                </div>
            </div>
            {% endfor %}
    {% endfor %}
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} - {{ program.title }}</h2>
            <p class="fs-4">Catégorie : {{ program.category.name }}</p>
            <p>{{ program.synopsis }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a><br>
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
                <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
            {% endif %}
        </div>
        <hr>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}