<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Wild Series !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/sandstone/bootstrap.min.css" integrity="sha512-htdEY26zvWZsYx2eXj2dzqQiivv7tzUf0pikw66WHEcNkFNYsHEQqIkJYsSWgS7a8ST4q5Wqrjk5RZS4MEX90g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <header>
        {% include "_navbar.html.twig" %}
    </header>
   


    <body class="container" {{ stimulus_controller('symfony/ux-swup/swup') }} {{ stimulus_controller('theme') }} {{ stimulus_target('theme', 'body') }}>
        <div id="swup">
            {% block body %}{% endblock %}
        </div>
    </body>

    <footer>
        {% include "_footer.html.twig" %}
    </footer>
</html>
